/* Global Styles */
:root {
  --Strong-cyan: hsl(172, 67%, 45%);
  --Very-dark-cyan: hsl(183, 100%, 15%);
  --Dark-grayish-cyan: hsl(186, 14%, 43%);
  --Grayish-cyan: hsl(184, 14%, 56%);
  --Light-grayish-cyan: hsl(185, 41%, 84%);
  --Very-light-grayish-cyan: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);
  --Red: hsl(0, 100%, 66%);
}

::placeholder {
  color: var(--Dark-grayish-cyan);
  opacity: 1;
}

/* Reset Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: "Space Mono", monospace;
}

/* Body Styles */
body {
  height: 100vh;
  width: 100vw;
  background-color: var(--Light-grayish-cyan);
}

/* Header Styles */
.header {
  padding: 1.5rem;
}

/* Title Styles */
.title {
  color: var(--Very-dark-cyan);
  text-transform: uppercase;
  letter-spacing: 1rem;
  text-align: center;
  font-size: 24px;
}

/* Card Styles */
.card__block {
  width: 100%;
}

.card {
  background-color: var(--White);
  border-radius: 1.5rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.card__left,
.card__right {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Block Label Styles */
.block__label {
  color: var(--Dark-grayish-cyan);
  line-height: 3;
}

/* Input Styles */
input {
  font-size: 16px;
  width: 100%;
  border: none;
  background-color: var(--Light-grayish-cyan);
}

.input__container {
  display: flex;
  align-items: center;
  height: 2.5rem;
  background-color: var(--Light-grayish-cyan);
  border: 2px solid transparent;
  border-radius: 0.25rem;
  padding-inline: 1rem;
  cursor: pointer;
}

.input__container--active {
  border: 2px solid var(--Strong-cyan);
}

.input__container--error {
  border: 2px solid var(--Red);
}

.input__field {
  direction: rtl;
  outline: none;
}

.input__icon--dollars {
  width: 0.5rem;
  height: 1rem;
}

/* Tip and Custom Buttons Styles */
.tip__button1,
.tip__button2,
.tip__button3,
.tip__button4,
.tip__button5,
.custom__button {
  grid-area: five / ten / fifteen / twentyFive / fifty / custom;
  width: 6.5rem;
  height: 3rem;
  margin-inline: auto;
  font-size: 16px;
  text-align: center;
}

/* Button Container Styles */
.button__container {
  display: grid;
  grid-template-areas:
    "five ten"
    "fifteen twentyFive"
    "fifty custom";
  gap: 0.5rem;
}

.button {
  background-color: var(--Very-dark-cyan);
  color: var(--White);
  border: none;
  cursor: pointer;
  border-radius: 0.25rem;
}

.custom__button {
  background-color: var(--Very-light-grayish-cyan);
  color: var(--White);
  cursor: text;
  outline: none;
  border-radius: 0.25rem;
}

/* Reset Button Styles */
.reset__button {
  color: var(--Very-dark-cyan);
  background-color: var(--Strong-cyan);
  height: 2.55rem;
  text-transform: uppercase;
}

/* Card Calculation Styles */
.card__calculation {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--Very-dark-cyan);
  border-radius: 1rem;
  padding: 2rem 1rem 1rem;
  color: var(--White);
}

.calculation__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.tip__amount {
  font-size: 12px;
}

.amount--dollars {
  font-size: 24px;
  color: var(--Strong-cyan);
}

/* Pseudo-Selectors and Animations */

/* Input Container Hover Animation */
.input__container:hover {
    transform: scale(1.02);
    transition: transform 0.3s;
}

.input__container:not(:hover) {
  transition: transform 0.3s;
}

.input__container:active {
  transform: scale(1);
  transition: transform 0.1s ease-out;
}

/* Tip Button Styles */
.tip__button.active {
  background-color: var(--Strong-cyan);
}

.tip__button:hover {
  background-color: var(--Strong-cyan);
  transform: scale(1.05);
  transition: background-color 0.3s, transform 0.3s;
}

.tip__button:not(:hover) {
  transition: background-color 0.3s, transform 0.3s;
}

.tip__button:active {
  transform: scale(1);
  transition: transform 0.1s ease-out;
}

/* Reset Button Styles */
.reset__button:hover {
  background-color: var(--Light-grayish-cyan);
  transform: scale(1.02);
  transition: background-color 0.3s, transform 0.3s;
}

.reset__button:not(:hover) {
  transition: background-color 0.3s, transform 0.3s;
}

.reset__button:active {
  transform: scale(1);
  transition: transform 50ms ease-out;
}
