/* All our Utility Classes go in here. */
.container {
    width: 100%;
    margin-inline: auto;
  }

  /* MOBILE FIRST */
  
  /* xs */
  @media (min-width: 475px) {
    .container {
      max-width: 475px;
    }
  }
  
  /* sm */
  @media (min-width: 640px) {
    .container {
      max-width: 640px;
    }
  }
  
  /* md */
  @media (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }
  
  /* lg */
  @media (min-width: 1024px) {
    .container {
      max-width: 1024px;
    }
  }
  
  /* xl */
  @media (min-width: 1280px) {
    .container {
      max-width: 1280px;
    }

    .main{
      height: 30rem;
      width: 60rem;
    }

    .card{
      width: 100%;
      margin-inline: auto;
      flex-direction: row;
      border-radius: 1.5rem;
      height: 100%;
    }

    .card__right, .card__left{
      flex-direction: column;
      height: 100%;
      width: 100%;
    }

    .card__calculation{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 2.85rem 1.5rem;
    }

    .calculation__tips{
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    .card__left{
      gap: 1.85rem;
    }

    .button__container{
      grid-template-areas:
      'five ten fifteen'
      'twentyFive fifty custom';
      gap: 0.5rem;
  }
  }
  
  /* 2xl */
  @media (min-width: 1536px) {
    .container {
      max-width: 1536px;
    }
  }